.topNavbar {
  background-color: #3949ab;
  text-align: center;
}

.nav-link {
  color: #fff !important;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ddd !important;
}

.dropdown-menu {
  margin-left: -90px !important;
}

.main-logo {
  width: 55%;
  float: left;
}

.profile-btn {
  padding: 0 10px 0 10px;
  box-shadow: 0px 0px 4px #333;
  background: #ff5061;
}

.mobile-logo {
  display: none !important;
}

.signout-btn {
  display: none;
}

@media (max-width: 992px) {
  .signout-btn {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    margin-top: 7px;
    cursor: pointer;
  }
  .signout-btn:hover {
    color: #ddd;
  }
  .profile-btn {
    display: none;
  }
}

@media (max-width: 978px) {
  .main-logo {
    width: 40%;
  }
}

@media (max-width: 642px) {
  .main-logo {
    display: none !important;
  }
  .mobile-logo {
    display: inline-block !important;
    color: #fff !important;
    font-size: 1.4rem;
  }
}

@media (max-width: 296px) {
  .mobile-logo {
    display: none !important;
  }
}
