.comments-list-box .section-title {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #606060;
}

.comment {
  display: flex;
  padding: 5px;
}

.avatar {
  margin-top: 17px;
}

.avatar span {
  border-radius: 90%;
  background-color: #ff5061;
  padding: 15px;
  color: #fff;
  text-shadow: 0px 0px 5px #333;
}

.comment-content-box {
  max-width: 50% !important;
  box-shadow: 0px 0px 1px #333;
  border-radius: 15px 0px;
  margin-left: 10px;
}

.comment-content-box .content {
  color: #3f3f3f !important;
  font-size: 0.9rem;
  margin-top: 10px;
  width: 100%;
  overflow-y: inherit;
  overflow-x: hidden;
  border: none;
}

.comment-content-box .post-author {
  color: #3f3f3f;
  font-weight: bold;
  font-size: 0.9rem;
}

.comment-main-box {
  margin-bottom: 20px;
}

.create-post-form {
  margin-bottom: 40px;
}

.comments-arrow {
  font-size: 1.6rem;
  cursor: pointer;
  color: #333;
}

@media (max-width: 780px) {
  .comment-content-box {
    max-width: 100% !important;
  }
}
