.auth-container {
  margin-top: 10vh;
  text-align: center;
  width: 60% !important;
}

.title {
  font-size: 1.4rem;
  color: #575757;
  margin-bottom: 30px;
}

.title::after {
  content: "";
  border-bottom: 1.5px solid #262626;
  padding-top: 10px;
  margin: 0 auto;
  width: 20%;
  display: block;
}

input {
  margin-top: 10px !important;
  color: rgb(27, 27, 27) !important;
  box-shadow: 0px 0px 1px #333;
}

button {
  margin: 15px 0 30px 0 !important;
  padding: 5px 40px !important;
}

@media (max-width: 764px) {
  .title {
    font-size: 1.2rem;
  }

  button {
    padding: 5px 20px !important;
  }
}
